body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #f0f0e2;
    overflow: hidden;
}

#board {
    width: 54rem;
    min-width: 54rem;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border: solid 0.4rem black;
    font: 3rem Arial, Helvetica, sans-serif;
}

.board-row {
    height: 6rem;
    border-bottom: solid 0.2rem rgb(100, 100, 100);
}

.board-row:nth-child(3n):not(:last-child) {
    border-bottom: 0.4rem solid rgb(49, 49, 49);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.board-cell {
    border-right: solid 0.2rem black
}

.board-cell:hover {
    background: #ffdbad;
    cursor: pointer
}

.board-cell:active {
    background: #ffdbad;
}

.board-cell-selected {
    background: #ffdbad;
}

.board-cell:nth-child(3n):not(:last-child) {
    border-right: solid 0.4rem rgb(49, 49, 49)
}

.editable {
}

.given-solution {
    background: rgb(234, 226, 202);
    font-weight: bold;
}

